<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SKInteraction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA3BEC921ECC8A02005E2429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA3BECA61ECC8A03005E2429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA3BECB11ECC8A03005E2429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
